.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 888px;
  height: 1528px;
  margin: 0;
  padding: 0;
}

.loadMoreBtn {
  width: 145px;
  height: 56px;
  border: 1px solid rgba(12, 27, 41, 1);
  background-color: transparent;
  border-radius: 200px;
  cursor: pointer;
  margin-top: 50px;
}

.loadMoreBtn:hover {
  border-color: #e44848;
}
