.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mainText {
  font-size: 24px;
  font-weight: bold;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
}

.icon {
  fill: transparent;
  stroke: #2f2f2f;
}

.infoIcons {
  stroke: #2f2f2f;
}

.ratingIcon {
  fill: #ffc531;
  margin-right: 4px;
}

.reviewsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin-bottom: 24px;
}

.reviewsRating {
  margin-right: 16px;
  color: #2f2f2f;
}

.locationIcon {
  fill: transparent;
  stroke: #2f2f2f;
  margin-right: 4px;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.infoItem {
  display: flex;
  background-color: lightgrey;
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
}

.showMoreBtn {
  width: 168px;
  height: 56px;
  background-color: #e44848;
  border: transparent;
  border-radius: 200px;
  color: #fff;
  cursor: pointer;
}

.showMoreBtn:hover {
  background-color: #d84343;
}

.description {
  margin-bottom: 24px;
  width: 525px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
