.bookContainer {
  width: 448px;
  height: 532px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.inputField {
  width: 400px;
  height: 56px;
  padding: 18px;
  border: none;
  background-color: #f2f4f7;
  border-radius: 10px;
  outline: none;
}

.inputCommentField {
  width: 400px;
  height: 114px;
  resize: none;
  padding: 18px;
  border: none;
  background-color: #f2f4f7;
  border-radius: 10px;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formBtn {
  width: 160px;
  height: 56px;
  border: none;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.calendarField {
  width: 400px;
  height: 56px;
  padding: 18px;
  border: none;
  background-color: #f2f4f7;
  border-radius: 10px;
}

.errorName {
  border: 1px solid #e44848;
}

.errorEmail {
  border: 1px solid #e44848;
}

.errorCalendar {
  border: 1px solid #e44848;
}
