.reviewsContainer {
  display: flex;
  flex-direction: column;
  width: 430px;
  gap: 24px;
}

.review {
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #f2f4f7;
}

.reviewInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.ratingIcon {
  fill: #ffc531;
  margin-right: 4px;
}

.name {
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.abv {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #e44848;
}

.comment {
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
