.info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}

.infoItem {
  display: flex;
  background-color: lightgrey;
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
}
.infoIcons {
  stroke: #2f2f2f;
}

.icon {
  fill: transparent;
  stroke: #2f2f2f;
}
