.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44848;
  height: 76px;
  margin-bottom: 50px;
}

.navList {
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
