.container {
  width: 982px;
  height: 720px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  overflow-y: auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 18, 19, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.imageContainer {
  display: flex;
  gap: 16px;
}

.image {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.ratingIcon {
  fill: #ffc531;
  margin-right: 4px;
}

.locationIcon {
  fill: transparent;
  stroke: #2f2f2f;
  margin-right: 4px;
}

.closeIcon {
  stroke: #2f2f2f;
  fill: #2f2f2f;
}

.closeBtn {
  cursor: pointer;
}
