.container {
  width: 360px;
}

.location {
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 360px;
  height: 56px;
  border: none;
  padding: 18px;
  appearance: none;
  outline: none;
  margin-top: 8px;
}

.equipment {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin-bottom: 32px;
}

.type {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin-bottom: 64px;
}

.subtitleText {
  margin-top: 32px;
}

.filtersForm {
  margin-top: 14px;
}

.titleText {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}




.checkboxContainer input[type="checkbox"] {
  display: none;
}


.checkboxContainer {
  display: flex;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  height: 95px;
  width: 112px;
  border-radius: 10px;
}


.checkboxContainer .checkmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 95px;
  width: 112px;
  line-height: 25px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  font-size: 16px;
  line-height: 20px;
}

.checkboxContainer input[type="checkbox"]:checked ~ .checkmark {
  border: 1px solid rgba(228, 72, 72, 1);
}
.filterIcon {
  fill: transparent;
  stroke: #2f2f2f;
}



.filterBtn {
  width: 173px;
  height: 56px;
  border: none;
  background-color: #e44848;
  border-radius: 200px;
  color: #fff;
  cursor: pointer;
}
.filterBtn:hover {
  background-color: #d84343;
}

.text {
  width: 74px;
  text-align: center;
}



.radio {
  opacity: 0;
  width: 0;
  height: 0;
}
